<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="C01688B7-B7EC-43AE-8230-B79460E92EE1" Name="Asim" Language="1033" Version="1.0.0.0" Manufacturer="Radical Systems"
           UpgradeCode="F8BEFBA3-8DA8-4165-A420-F01EB22561E5">
		<Package Id='*' InstallerVersion="100" Compressed="yes" InstallScope="perMachine"
             Comments='Asim' Manufacturer='Radical Systems'/>

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />
    
    <UIRef Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <WixVariable Id="WixUILicenseRtf" Value="..\..\COPYING.rtf" />

		<Feature Id="CompleteProduct" Title="PWC.Asim.Installer" Level="1" Description="The complete package."
             Display="expand" ConfigurableDirectory="INSTALLFOLDER">

      <Feature Id="MainProgram" Title="Programs" Description="The main executables." Level="1">
        <ComponentRef Id='AsimExecutable' />
        <ComponentRef Id='ExcelExecutable' />
      </Feature>

      <Feature Id='Documentation' Title='User Manual' Description='The Asim User Manual.' Level='1'>
        <ComponentRef Id='ProgramMenuDir' />
        <ComponentRef Id='PdfDocs' />
        <ComponentRef Id='MacroDocs' />
        <ComponentRef Id='Samples' />
        <ComponentRef Id='AsimAddin' />
      </Feature>
		</Feature>

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
        <Directory Id='PWC' Name='Power Water Corporation'>
          <Directory Id="INSTALLFOLDER" Name="Asim">
            <Directory Id="BinDir" Name="bin">
              <Component Id="AsimExecutable" Guid="11E4343E-F6F9-459D-B818-650729003F25">
                <File Id="AsimEXE" Name="Asim.exe" Source="..\PWC.Asim.ConsoleApp\bin\Release\AsimStatic.exe" KeyPath="yes"></File>
              </Component>

              <Component Id="ExcelExecutable" Guid="54128474-16E7-4130-A9D6-E34FA3327F9C">
                <File Id="ExcelEXE" Name="AsimExcelTools.exe" Source="..\PWC.Asim.ExcelTools\bin\Release\AsimExcelTools.exe" KeyPath="yes"></File>
              </Component>
              
            </Directory>

            <Directory Id="DocsDir" Name="Docs">
              <Component Id="PdfDocs" Guid="31D80BB9-76A9-47BB-AE4F-82F08F6CD723">
                <File Id="UserManualPDF" Name="Model User Manual.pdf" Source="..\..\..\..\Documentation\Model User Manual.pdf" KeyPath="yes">
                  <Shortcut Id='startmenuManual' Directory='ProgramMenuDir' Name='Model User Manual.pdf' Advertise='yes' />
                </File>
              </Component>
              <Component Id='MacroDocs' Guid='51510D6C-CD03-402E-9632-B6E6499F7943'>
                <File Id="InstallMacroPDF" Name="Excel Addin Installation.pdf" Source="..\..\..\..\Documentation\InstallingMacro\Excel Addin Installation.pdf">
                  <Shortcut Id='startmenuMacro' Directory='ProgramMenuDir' Name='Excel Addin Installation.pdf' Advertise='yes' />
                </File>
              </Component>
            </Directory>

            <Directory Id='Samples' Name='Samples'>
              <Component Id='Samples' Guid='806D06EB-BB7B-4611-AC99-3ECB508EE92D'>
                <File Id='ExampleXlsX' Source='..\Data\Example.xlsx' KeyPath='yes'/>
                <File Id='ExampleXls' Source='..\Data\Example.xls' />
                <File Id='archivebat' Source='..\Data\archive.bat' />
                <File Id='testbat' Source='..\Data\test.bat' />
                <File Id='tmabat' Source='..\Data\tma.bat' />
              </Component>
            </Directory>
          </Directory>
        </Directory>
			</Directory>

      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="Asim">
          <Component Id="ProgramMenuDir" Guid="583CCF4B-282E-4744-9E8E-C0AEEB514AC7">
            <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
            <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]\ProgramMenuDirKeyPath' Type='string' Value='' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>

      <Directory Id="AppDataFolder" Name="AppData">
        <Directory Id="Microsoft" Name="Microsoft">
          <Directory Id="AddIns" Name="AddIns">
            <Component Id="AsimAddin" Guid="6360AC72-F70A-408D-B4CE-91CEC2496F80">
              <File Id="AsimAddinXla" Source="..\Data\Asim Addin.xla"/>
              <RemoveFolder Id="Microsoft" On="uninstall" Directory="Microsoft"/>
              <RemoveFolder Id="AddIns" On="uninstall" Directory="AddIns"/>
              <RemoveFile Name="Asim Addin.xla" Id="AsimAddinXla" On="uninstall"/>
              <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]\AsimAddinKeyPath' Type='string' Value='' KeyPath='yes' />
            </Component>
          </Directory>
        </Directory>
      </Directory>
		</Directory>

  </Product>
</Wix>