<?xml version="1.0" encoding="UTF-8"?>

<!--
See http://wix.tramontana.co.hu/tutorial and
 http://blogs.msdn.com/b/astebner/archive/2007/11/18/6385121.aspx
 for more details on these settings.
-->
<!-- These variables define the Windows Installer product version, product code and upgrade code. They   -->
<!-- will be used later on in this file.                                                                 -->
<?define Property_ProductVersion = "2.2.3" ?>
<?define Property_ProductCode = "*" ?>
<?define Property_UpgradeCode = "F8BEFBA3-8DA8-4165-A420-F01EB22561E5" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="$(var.Property_ProductCode)"
           UpgradeCode="$(var.Property_UpgradeCode)"
           Name="!(loc.Property_ProductName)"
           Language="!(loc.Property_ProductLanguage)"
           Version="$(var.Property_ProductVersion)"
           Manufacturer="!(loc.Property_CompanyName)">

    <Package Description="!(loc.Package_Description)"
             Comments="!(loc.Package_Comments)"
             InstallerVersion="200"
             Compressed="yes"
             InstallPrivileges="limited"
    />

    <UIRef Id="WixUI_Advanced"/>
    <UIRef Id="WixUI_ErrorProgressText" />

    <WixVariable Id="WixUILicenseRtf" Value="..\..\COPYING.rtf" />

    <Property Id="PREVIOUSVERSIONSINSTALLED" Secure="yes" />
    <Property Id="ApplicationFolderName" Value="Asim" />
    <Property Id="WixAppFolder" Value="WixPerUserFolder" />


    <!-- This information enables Windows Installer major upgrade functionality so users can seamlessly  -->
    <!-- install a new version of the product and have the old version automatically uninstall behind    -->
    <!-- the scenes. See the following topic in the MSDN Library for additional information:             -->
    <!-- http://msdn.microsoft.com/library/default.asp?url=/library/en-us/msi/setup/major_upgrades.asp   -->
    <Upgrade Id="$(var.Property_UpgradeCode)">
      <UpgradeVersion Minimum="$(var.Property_ProductVersion)" OnlyDetect="yes" Property="NEWERVERSIONDETECTED" />
      <UpgradeVersion Minimum="1.0.0" IncludeMinimum="yes" Maximum="$(var.Property_ProductVersion)"
                      IncludeMaximum="no" Property="OLDERVERSIONBEINGUPGRADED" />
    </Upgrade>

    <!-- This custom action prevents users from installing if a newer version of this product is already -->
    <!-- installed on the system. This is a part of Windows Installer major upgrade functionality.       -->
    <CustomAction Id="CA_BlockOlderVersionInstall" Error="!(loc.LaunchCondition_LaterVersion)" />

    <!-- This condition enforces that the ALLUSERS property is not set because this MSI is only ever     -->
    <!-- intended to be a per-user installation.                                                         -->
    <Condition Message="!(loc.LaunchCondition_AllUsers)">
      NOT ALLUSERS
    </Condition>

    <!-- This is a list of directories that are used by this product as installation locations or custom -->
    <!-- action file search locations.                                                                   -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="DesktopFolder" Name="Desktop"/>
      <Directory Id="AppDataFolder" Name="AppData">
        <Directory Id="Microsoft" Name="Microsoft">
          <Directory Id="AddIns" Name="AddIns">
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="LocalAppDataFolder" Name="LocalAppData">
        <Directory Id="APPLICATIONFOLDER" Name="Asim">
          <Component Id="ApplicationDesktopShortcut" Guid="15CF4AC2-30E1-46C3-B411-61A6C623C8B8">
            <Shortcut Id="ApplicationShortcut"
                      Directory="DesktopFolder"
                      WorkingDirectory="APPLICATIONFOLDER"
                      Target="[APPLICATIONFOLDER]"
                      Name="Asim"
                      Show="normal" />
            <RegistryValue Action="write" Root='HKCU' Key="Software\[Manufacturer]\[ProductName]\DesktopShortcut" Type="string" Value="" KeyPath="yes" />
          </Component>
          <Directory Id="AsimBinDir" Name="bin" />
          <Directory Id="AsimDocsDir" Name="Docs" />
          <Directory Id='AsimSamples' Name='Samples' />
        </Directory>
      </Directory>
    </Directory>

    <!-- This is a list of all components installed as a part of this product. A component is the        -->
    <!-- smallest atomic unit of installation in Windows Installer. Each component must have a unique    -->
    <!-- GUID. In general, it is recommended that each file be installed by a separate component in      -->
    <!-- order to avoid reference counting problems and make future servicing of this product easier.    -->
    <!-- Each component is listed as a child of the DirectoryRef that represents the directory that      -->
    <!-- the file it contains will install to.                                                           -->
    <DirectoryRef Id="AsimBinDir">
      <Component Id="AsimExecutable" Guid="11E4343E-F6F9-459D-B818-650729003F25">
        <RemoveFolder Id="RemoveAppRootDirectory" On="uninstall" Directory="APPLICATIONFOLDER" />
        <RemoveFolder Id="RemoveAsimBinDir" On="uninstall" />

        <File Id="AsimEXE" Name="Asim.exe" Source="..\PWC.Asim.ConsoleApp\bin\Release\AsimStatic.exe" />
        <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]\AsimEXE' Type='string' Value=''
                       KeyPath='yes' />

      </Component>
      <Component Id="ExcelExecutable" Guid="54128474-16E7-4130-A9D6-E34FA3327F9C">
        <File Id="ExcelEXE" Name="AsimExcelTools.exe" Source="..\PWC.Asim.ExcelTools\bin\Release\AsimExcelTools.exe" />
        <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]\ExcelEXE' Type='string' Value=''
                       KeyPath='yes' />
      </Component>

      <!-- Additional DLL plugins -->
      <Component Id='AlgorithmsPvSimple' Guid='4bf1b920-cf31-4089-9ac9-3c8584691552'>
        <File Id='PvSimple' Name='PWC.Asim.Algorithms.PvSimple.dll' Source='..\Algorithms\PWC.Asim.Algorithms.PvSimple\bin\Release\PWC.Asim.Algorithms.PvSimple.dll' />
        <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]\PvSimple' Type='string' Value=''
                       KeyPath='yes' />
      </Component>

      <Component Id='AlgorithmsPvNone' Guid='23914A25-CCE4-4655-AC35-3B7C53040D26'>
        <File Id='PvNone' Name='PWC.Asim.Algorithms.PvNone.dll' Source='..\Algorithms\PWC.Asim.Algorithms.PvNone\bin\Release\PWC.Asim.Algorithms.PvNone.dll' />
        <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]\PvNone' Type='string' Value=''
                       KeyPath='yes' />
      </Component>

      <Component Id='AlgorithmsPvFsc' Guid='F1C18D68-F041-4A24-B326-28B1A5AC0967'>
        <File Id='PvFsc' Name='PWC.Asim.Algorithms.PvFsc.dll' Source='..\Algorithms\PWC.Asim.Algorithms.PvFsc\bin\Release\PWC.Asim.Algorithms.PvFsc.dll' />
        <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]\PvFsc' Type='string' Value=''
                       KeyPath='yes' />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="AsimDocsDir">
      <Component Id="PdfDocs" Guid="31D80BB9-76A9-47BB-AE4F-82F08F6CD723">
        <RemoveFolder Id="RemoveAsimDocsDir" On="uninstall" Directory="AsimDocsDir" />
        <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]\Documents' Type='string' Value='' KeyPath='yes' />
        <File Id='ReferenceManualPDF' Name='Reference Manual.pdf' Source='..\..\docs\Reference Manual.pdf' />
        <File Id='QuickStartPDF' Name='Quick Start.pdf' Source='..\..\docs\QuickStartGuide\Quick Start.pdf' />
        <File Id='ConfigGuidePDF' Name='Configuration Guide.pdf' Source='..\..\docs\ConfigurationGuide\Configuration Guide.pdf' />
        <File Id='NpcAnalyserXLSX' Name='NPC Analyser Template.xlsx' Source='..\..\docs\NPC Analyser Template.xlsx' />
        <File Id='ReadMe' Name='Readme.txt' Source='..\..\README.txt' />
        <File Id='LicenceCopyRtf' Name='Copying.rtf' Source='..\..\COPYING.rtf' />
        <File Id='LicenceCopyTxt' Name='Copying.txt' Source='..\..\COPYING.txt' />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="AsimSamples">
      <Component Id='Samples' Guid='806D06EB-BB7B-4611-AC99-3ECB508EE92D'>
        <RemoveFolder Id="RemoveAsimSamples" On="uninstall" Directory="AsimSamples" />
        <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]\Samples' Type='string' Value='' KeyPath='yes' />
        <File Id='ExampleXlsX' Source='..\Data\Example.xlsx' />
        <File Id='ExampleXls' Source='..\Data\Example.xls' />
        <File Id='archivebat' Source='..\Data\archive.bat' />
        <File Id='testbat' Source='..\Data\test.bat' />
        <File Id='tmabat' Source='..\Data\tma.bat' />
        <File Id='loadzip' Source='..\Data\load.zip' />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="AddIns">
      <Component Id="AsimAddin" Guid="6360AC72-F70A-408D-B4CE-91CEC2496F80">
        <CreateFolder/>
        <RemoveFolder Id="RemoveMicrosoft" On="uninstall" Directory="Microsoft"/>
        <RemoveFolder Id="RemoveAddIns" On="uninstall" Directory="AddIns"/>
        <File Id="AsimAddinXla" Source="..\Data\Asim Addin.xla"/>
        <RemoveFile Name="Asim Addin.xla" Id="AsimAddinXla" On="uninstall"/>
        <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]\AsimAddinKeyPath' Type='string' Value=''
                       KeyPath='yes' />
      </Component>
    </DirectoryRef>

    <!--<Directory Id="ProgramMenuFolder" Name="Programs">
      <Directory Id="ProgramMenuDir" Name="Asim">
        <Component Id="ProgramMenuDir" Guid="583CCF4B-282E-4744-9E8E-C0AEEB514AC7">
          <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
          <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]\ProgramMenuDirKeyPath' Type='string' Value='' KeyPath='yes' />
        </Component>
      </Directory>
    </Directory>-->

    <!-- The media table defines the location that the MSI will look to find source files during         -->
    <!-- installation or repair scenarios. In this case, the source files are in a cab file that will be -->
    <!-- embedded directly into the MSI at build time.                                                   -->
    <Media Id="1" Cabinet="Application.cab" EmbedCab="yes" />

    <Feature Id="CompleteProduct" Title="Asim Package" Level="1" Description="The complete Asim package." Absent="disallow" AllowAdvertise="no"
             Display="expand" ConfigurableDirectory="TARGETDIR">

      <Feature Id="MainProgram" Title="Asim" Description="Required Asim Program Files." Level="1" Absent="disallow" AllowAdvertise="no">
        <ComponentRef Id='AsimExecutable' />
        <ComponentRef Id='ExcelExecutable' />
        <ComponentRef Id='AsimAddin' />
      </Feature>

      <Feature Id='Documentation' Title='Asim Documentation' Description='Asim Documentation.' Level='1' AllowAdvertise="no">
        <!--<ComponentRef Id='ProgramMenuDir' />-->
        <ComponentRef Id='PdfDocs' />
        <ComponentRef Id='Samples' />
      </Feature>

      <Feature Id='Algorithms' Title='Additional Algorithms' Description='Additional Algorithms for Solar Controllers.' Level='1' AllowAdvertise="no">
        <ComponentRef Id='AlgorithmsPvSimple'/>
        <ComponentRef Id='AlgorithmsPvNone'/>
        <ComponentRef Id='AlgorithmsPvFsc'/>
      </Feature>

      <Feature Id='Shortcut' Title='Desktop Shortcut' Description='Create a shortcut on the desktop.' Level='1' AllowAdvertise='no'>
        <ComponentRef Id='ApplicationDesktopShortcut' />
      </Feature>
		</Feature>

    <!-- Customising the Exit screen to allow for the readme to be opened. -->
    <Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="Thank you for installing !(loc.Property_ProductName)." />
    <Property Id='WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT' Value='View the Readme' />
    <UI>
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchFile">
        WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed
      </Publish>
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchInstallDir">
        NOT Installed
      </Publish>
    </UI>

    <Property Id="WixShellExecTarget" Value="[#ReadMe]" />
    <CustomAction Id="LaunchFile" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

    <Property Id="QtExecCmdLine" Value='"cmd.exe" /c "explorer.exe [APPLICATIONFOLDER]"' />
    <CustomAction Id="LaunchInstallDir" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="immediate" Return="check"/>

    <!-- The InstallExecuteSequence table describes the order that actions will be executed during       -->
    <!-- installation, repair and uninstall of this product.                                             -->
    <InstallExecuteSequence>
      <RemoveExistingProducts Before="InstallInitialize" />
      <LaunchConditions After="AppSearch"/>
    </InstallExecuteSequence>

    <!-- These properties define links that will appear in the Add/Remove Programs control panel when    -->
    <!-- this product is installed on the system.                                                        -->
    <!--<Property Id="ARPHELPLINK" Value="!(loc.Property_ArpHelpLink)" />
    <Property Id="ARPURLINFOABOUT" Value="!(loc.Property_ArpUrlInfoAbout)" />-->

    <!-- This property defines the ALLUSERS property and sets it to blank, which indicates that this     -->
    <!-- product will be  installed per-user instead of per-machine.                                     -->
    <Property Id="ALLUSERS" Secure="yes"/>
  </Product>
</Wix>